* {
    font-family: "Source Serif 4", serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: #F5F6FA;
    height: 98vh;
    margin: 0 0 0 0;
}

/* Start of Navigation Bar CSS */
.dashboard-container {
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #0B192C; */
    background-image: linear-gradient(135deg, #0B192C, #1E2E62);
    color: white;
    max-height: 200px;
    height: 84px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.logo-container img {
    width: 300px;
    height: 100%;
    margin: 5px 0 0 0;
    object-fit: cover;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
}

.dashboard-header-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 0;
}

.notification-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 0;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 0;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-dropdown {
    position: relative;
    display: inline;
    cursor: pointer;
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.profile-dropdown:hover .profile-dropdown-content {
    display: block;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(0px);
    opacity: 1;
}

.notification {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.notification-icon {
    vertical-align: middle;
}

.dashboard-header-right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.notification-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
}

.notification-dropdown p {
    color: #0B192C;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notification-dropdown a {
    color: #0B192C;
    display: block;
    text-align: center;
}

.notification-dropdown p:last-child {
    border-bottom: none;
}

/* End of Navigation Bar CSS */

/* Start of Main Content CSS */

.audit-logs-header {
    font-weight: 900;
    margin: 0 0 20px 0;
    padding: 20px;
}

.audit-logs-container {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    padding: 20px;
}

.audit-logs-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 20px;
}

.audit-logs-buttons-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 0 20px 0 0;
    gap: 10px;
}

.audit-logs-buttons button {
    background-color: #0B192C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.audit-logs-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 20px 0;
}

.audit-logs-table table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 20px 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.audit-logs-table th,
.audit-logs-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid;
    border-right: 1px solid #ddd;
    vertical-align: middle;
    color: #0B192C;
}