* {
    font-family: "Source Serif 4", serif;
}

body {
    background-color: #F5F6FA;
    display: flex;
    height: 98vh;
}

a {
    color: #1E3E62;
    /* Use the inherited color */
}

a:active,
a:focus {
    color: inherit;
    /* Ensure the color does not change */
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    margin: 8rem auto;
    width: 856px;
    height: 606px;
    border-radius: 50px;
}

.login-container h1 {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 100px 0;
}

.logo-container {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 65%;
}

.logo {
    border-right: 1px solid black;
    height: 606px;
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    object-fit: cover;
    object-position: left center;
}

.form-container {
    width: 35%;
    border-radius: 10px;
    padding: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    font-weight: 500;
    font-size: 18px;
    height: 10px;
    max-width: 100%;
    padding: 20px 20px 20px 40px;
    margin: 10px;
    border-radius: 50px;
    border: 1px solid black;
}

.login-button {
    font-weight: 1000;
    font-size: 30px;
    margin-top: 10px;
    height: 60px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #1E3E62;
    color: white;
    cursor: pointer;
}

.strong {
    font-weight: 500;
    font-size: 20px;
}

.signup-container {

    text-align: center;
}

/* CSS for Mobile Responsiveness */
@media screen and (max-width: 417px) {
    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        margin: 8rem auto;
        width: 856px;
        height: 606px;
        border-radius: 50px;
    }
}